:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

}

/* Home page */
.home-title {
  justify-self: center;
}


/*---------------------*/

/* EntryList component */
.entrylist {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 0.5rem;
  background-color: rgb(253, 174, 121);
  margin: 2rem;
  border-radius: 30px;
}

.entrylist-title {
  margin-bottom: 0px;
  margin-top: 0px;
}

.entrylist-date {
  margin-bottom: 0;
  margin-top: 50px;
}

.entrylist-hr {
  margin-bottom: 10px;
  margin-top: 0px;

}

.entrylist-container {
  background-color: rgb(133, 104, 66);
  border-radius: 30px;
  margin: 50px;
  padding: 20px;
}

/*---------------------*/